@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #1f2041;
    color: white;
}

header{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-inline:8rem;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4b3f72;
    height: 20%;
    align-items: center;
}

nav{
    display: inline-flex;
    align-items: center;
}

.list{
    display: inline-flex;
    gap: 50px;
}

.list__element{
    list-style: none;
    opacity: .8;
}

.list__element:hover{
    transform: scale(1.3);
    transition: .3s ease all;
}

.list__enlace{
    color: white;
    text-decoration: none;
}

.list__enlace:hover{
    color: #FFC857;
}

.login{
    margin-left: 50px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 20px;
    background-color: transparent;
    cursor: pointer;
}

.login:hover{
    transform: scale(1.3);
    background-color: #FFC857;
    border: none;
    transition: .3s ease all;
}

.container{
    width: 100%;
    height: 90.9vh;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.info{
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    width: 40%;
    height: 70%;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, .13);
}

.imgs{
    width: 40%;
    height: 70%;
}